* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body {
    background: url('/images/backcover.svg') no-repeat;
    background-position: top 0px right -306px;
}
.main-div {
    padding: 30px 40px;
    width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    height: 50px;
}
.nav-items {
    display: inline-flex;
}
.nav-item {
    display: block;
    margin: 0px 20px;
    color: #1F2873;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
.nav-item:hover {
    color: #3E4794;
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: all 1s ease-in-out;
}
.signin-btn {
    display: block;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background: rgb(150,92,242);
    background: linear-gradient(90deg, rgba(150,92,242,1) 0%, rgba(255,138,220,1) 100%);
}
.signin-btn:hover {
    background: #1b1b1b;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.intro-section {
    display: flex;
}
.left-section {
    margin-top: 100px;
}
.left-section h1 {
    display: block;
    color: #3E4794;
    font-size: 60px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
}
.left-section h4 {
    display: block;
    margin: 30px 0px;
    font-size: 14px;
    text-align: left;
    width: 300px;
    line-height: 1.5em;
    font-weight: normal;
}
.learn-more-btn {
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 40px;
    font-size: 24px;
    border: none;
    background: rgb(150,92,242);
    background: linear-gradient(90deg, rgba(150,92,242,1) 0%, rgba(255,138,220,1) 100%);   
}
.learn-more-btn:hover {
    color: #000000;
}
.imgs-div {
    display: flex;
    position: relative;
}
.imgs-div img:last-child {
    position: relative;
right: 80px;
}
.vector-img {
    position: absolute;
    bottom: 150px;
    left: -150px;
}
.vector-dot {
    position: absolute;
    bottom: 250px;
    left: -90px;
}
#click {
    display: none;
}
.mnu-button {
    display: none;
}

/* for mobile device and tablets */
@media (max-width: 767px) {
    body {
        background: none;      
    }
    .intro-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .left-section {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .left-section h1 {
        display: block;
        text-align: center;
        width: auto;
        font-size: 10vw;
    }
    .left-section h4 {
        display: block;
        text-align: center;
        width: auto;
    }
    .learn-more-btn {
        display: block;
        position: relative;
        margin: auto;
        padding: 10px 15px;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 600;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    nav img:first-child {
        height: 30px;
    }
    .nav-items {
     z-index: 1;
     position: fixed;
     top: 0px;
     display: flex;
     flex-direction: column;
     background-color: #ffffff;
     width: 100%;
     height: 100vh;
     left: -100%;
     justify-content: center;
     gap: 50px;
     align-items: center;
     padding-top: 15px;
     transition: all 0.3s ease;
    }
    #click:checked ~ .mnu-button i::before {
        content: '\f00d';
    }
    #click:checked ~ .nav-items {
        left: 0%;
    }
    .nav-item {
        display: block;
        color: #1b1b1b;
    }
    .nav-item:hover {
        display: block;
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
        background-color: #943e8d;
        padding: 5px 15px;
        transition: none;
    }
    .mnu-button {
        display: block;
        z-index: 2;
        order: 4;
    }
    .imgs-div img {
        height: 400px;
        margin-top: 20px;
    }
    .imgs-div img:nth-child(2), img:first-child {
        display: none;
    }
    .main-div {
        padding: 30px 20px;
    }
    body {
        background-color: #D1E8FF;
    }
}